html, body {    width: 100%;    height: 88%;}
/*Bootstrap-overlay*/

body {
 overflow-x: hidden;
 margin-top: -10px;  font-family:  'Microsoft Yahei', sans-serif; font-size:12px;
}
a:hover, a:focus {
 text-decoration: none;
}
.dropdown-menu .divider{ margin:4px 0px;}
.dropdown-menu{ min-width:180px;}
.dropdown-menu > li > a{ padding:3px 10px; font-size:12px;}
.dropdown-menu > li > a i{ padding-right:3px;}
.userphoto img{ width:19px; height:19px;}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .label, .dropdown-menu, .btn, .well, .progress, .table-bordered, .btn-group > .btn:first-child, .btn-group > .btn:last-child, .btn-group > .btn:last-child, .btn-group > .dropdown-toggle, .alert{ border-radius:0px;}
.btn, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ box-shadow:none;}
.progress, .progress-success .bar, .progress .bar-success, .progress-warning .bar, .progress .bar-warning, .progress-danger .bar, .progress .bar-danger, .progress-info .bar, .progress .bar-info, .btn, .btn-primary{background-image:none;}
.accordion-heading h5{ width:70%; }
.form-horizontal .form-actions{ padding-left:20px; }
#footer{ padding:10px; text-align:center;}
.carousel{ margin-bottom:0px;}
.fl { float:left }
.fr { float:right }

body {padding: 0; margin-top:10%;}
#logo, #verifyCheck {width: 450px; margin-left: auto; margin-right: auto; position: relative;}
#logo img {margin: 0 auto; display: block;}
#verifyCheck {overflow: hidden !important; text-align: left; position: relative; }
#verifyCheck form{ width:100%; position:relative; top:0; left:0; }
#verifyCheck .form-actions { padding: 6px 4px 20px;}
#verifyCheck .form-actions .pull-left { margin-top:0px;}
#verifyCheck form#loginform { z-index: 200; display:block;}
#verifyCheck form#recoverform { z-index: 100; display:none;}
#verifyCheck form#recoverform .form-actions { margin-top: 0px;}
#verifyCheck .main_input_box { margin:0 auto; text-align:center;}
#verifyCheck .main_input_box .add-on{padding:9px 9px; *line-height:31px; width:30px; display:inline-block;}
#verifyCheck .main_input_box input{ height:30px; display:inline-block; width:85%; line-height:28px;  margin-bottom:3px;}
#verifyCheck .controls{ padding:0 0px;}
#verifyCheck .control-group { padding:10px 0px; margin-bottom:0px;}
#verifyCheck .control-group2 { padding:0px 0px 20px 0px; margin-bottom:0px;}
.form-actions {margin-top: 0px; margin-bottom: 0px; background:none; border-top: none;}
.form-vertical{margin-top: 0px; margin-bottom: 0px;}
#verifyCheck .normal_text{ padding:10px 10px; text-align:center; font-size:14px; line-height:30px; }

/*#loginform .control-group{background: #778899; }*/

@media (max-width:800px){
	#logo { width: 60%; }
	#verifyCheck{ width:80%; }
}

@media (max-width: 480px){
	#logo { width: 40%; }
	#verifyCheck{ width:90%; }
	#verifyCheck .control-group{ padding:8px 0; margin-bottom:0px;}
}